body {
  background-color: bb2649;
  color: white;
  font-size: 1em; -->
}
#carouselExample1 {
  color: white;
  padding: 40px;
  text-align: center;
}
body {
  background: url('video.jpg');
  background-size: cover;
}

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}
.disp1 {
	background-color: black;
	color: white;
	opacity: 70%;
}